version: '3.4'

services:
  # Infrastructure
  portainer:
    container_name: portainer
    restart: always
    ports:
      - "10000:8000"
      - "10001:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
  
  pgadmin:
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@saf.com
      - PGADMIN_DEFAULT_PASSWORD=admin1234
    restart: always
    ports:
      - "10002:80"
    volumes:
      - pgadmin_data:/root/.pgadmin

  # Discount Microservice
  saf.discount.db:
    container_name: saf.discount.db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=SAF.Discount.Db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgressql/data/

  # Catalog Microservice
  saf.catalog.db:
    container_name: saf.catalog.db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  saf.catalog.api:
    container_name: saf.catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://saf.catalog.db:27017"
    depends_on:
      - saf.catalog.db
    ports:
      - "8000:80"

  # Basket Microservice
  saf.basket.db:
    container_name: saf.basket.db
    restart: always
    ports:
      - "6379:6379"

  saf.basket.api:
    container_name: saf.basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CacheSettings:ConnectionString=saf.basket.db:6379"
    depends_on:
      - saf.basket.db
    ports:
      - "8001:80"

