version: '3.4'

services:
  # Infrastructure
  portainer:
    image: portainer/portainer-ce
  
  pgadmin:
    image: dpage/pgadmin4

  saf.infra.rabbitmq:
    image: rabbitmq:3-management-alpine

  # Catalog Microservice
  saf.catalog.db:
    image: mongo

  saf.catalog.api:
    image: ${DOCKER_REGISTRY-}safcatalogapi
    build:
      context: .
      dockerfile: Services/Catalog/SAF.Catalog.Api/Dockerfile

  # Basket Microservice
  saf.basket.db:
    image: redis:alpine

  saf.basket.api:
    image: ${DOCKER_REGISTRY-}safbasketapi
    build:
      context: .
      dockerfile: Services/Basket/SAF.Basket.Api/Dockerfile
  
  # Discount Microservice
  saf.discount.db:
    image: postgres

  saf.discount.api:
    image: ${DOCKER_REGISTRY-}safdiscountapi
    build:
      context: .
      dockerfile: Services/Discount/SAF.Discount.Api/Dockerfile

  # Ordering Microservice
  saf.ordering.db:
    image: mcr.microsoft.com/mssql/server:2017-latest

  saf.ordering.api:
    image: ${DOCKER_REGISTRY-}saforderingapi
    build:
      context: .
      dockerfile: Services/Ordering/SAF.Ordering.Api/Dockerfile

volumes:
  mongo_data:
  portainer_data:
  postgres_data:
  pgadmin_data:
